@import "../../variables";

article.container {
  width: 25rem;
  background-color: #ffffff;
  border-radius: 8px;
  margin: 1rem 0.75rem 0 0.75rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  @include center(space-between);
  flex-direction: row;
  .left_box {
    @include center;
    .delete {
      font-size: 1.5rem;
      margin-right: 1rem;
      cursor: pointer;
    }
  }
  .status {
    @include center;
    flex-direction: column;
    width: 5rem;
    height: 4rem;
    border-radius: 0.6rem;
    color: #fff;
    i {
      font-size: 2rem;
      margin-bottom: 0.3rem;
    }
    h5 {
      font-size: 0.9rem;
    }
  }
}
