@import "../../variables.scss";

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  .header {
    color: #fff;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  .time {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 200;
    margin-bottom: 1.5rem;
  }
  section {
    .station {
      color: #000;
      font-size: 2rem;
      padding-top: 1.5rem;
      font-weight: 600;
      margin-bottom: 1.5rem;
    }
    h4 {
      color: #9dadb6;
      font-size: 1.2rem;
      margin-bottom: 0.8rem;
    }
    .expression {
      margin-top: 2rem;
      margin-bottom: 2.5rem;
      i {
        font-size: 16rem;
      }
    }
    h5 {
      color: #666666;
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
    }
    .dust {
      margin: 0.5rem 0;
      display: flex;
      align-items: center;
      div {
        font-size: 1rem;
        &:nth-child(1) {
          margin-left: 1.2rem;
          text-align: start;
          width: 5rem;
          font-weight: 600;
        }
        &:nth-child(2) {
          margin-left: 0.2rem;
          width: 1.3rem;
          text-align: center;
          font-weight: 900;
        }
        &:nth-child(3) {
          margin-left: 1rem;
          width: 170px;
          height: 12px;
          background: #f0f0f0;
          border-radius: 10px;
          box-shadow: inset 3px 3px 10px #ccc;
          span {
            width: 0px;
            display: block;
            background: $color-sub;
            height: 12px;
            border-radius: 10px;
            background: linear-gradient(to right, $color-select, $color-sub);
            animation: active 5s 1s;
          }
        }
      }
    }
  }
}

@keyframes active {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
