.container {
  display: flex;
  width: 60%;
  padding: 10px 0;
  justify-content: space-around;
  border-bottom: 1px solid rgb(223, 223, 223);
  border-radius: 10px;
  align-items: center;
  & > span {
    &:first-child {
      width: 1.8rem;
      color: #9dadb6;
      font-size: 1.25rem;
    }
    &:nth-child(2) {
      width: 2.7rem;
      font-size: 1.56rem;
      font-weight: 600;
    }
    &:nth-child(3) {
      font-size: 1.56rem;
    }
  }
  .pm {
    width: 8.43rem;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        &:first-child {
          font-size: 0.85rem;
          font-weight: 500;
        }
        &:last-child {
          font-weight: 600;
          margin-left: 10px;
          font-size: 1.125rem;
        }
      }
    }
  }
}
