.container {
  display: flex;
  width: 60%;
  padding: 10px 0;
  justify-content: space-around;
  border-bottom: 1px solid rgb(223, 223, 223);
  border-radius: 10px;
  align-items: center;
  & > span {
    &:first-child {
      width: 1.8rem;
      color: #9dadb6;
      font-size: 1.15rem;
    }
  }
  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      margin-bottom: 5px;
      &:nth-child(1) {
        width: 2.7rem;
        font-size: 1.5rem;
        font-weight: 600;
      }
      &:nth-child(2) {
        width: auto;
        font-weight: 600;
        font-size: 1.2rem;
      }
    }
    .pm {
      display: flex;
      justify-content: center;
      div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 10px;
        span {
          width: auto;
          &:first-child {
            font-size: 0.85rem;
            font-weight: 500;
          }
          &:last-child {
            font-weight: 600;
            margin-left: 10px;
            font-size: 1.025rem;
          }
        }
      }
    }
  }
}
