@import "../../variables";

.rankContainer {
  display: flex;
  justify-content: center;
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      width: 40%;
      background-color: $color-main;
      font-size: 1rem;
      font-weight: 600;
      color: #fff;
      padding: 0.7rem 2.5rem;
      margin: 2rem 4rem 1rem;
      border-radius: 20px;
    }
  }
  margin-bottom: 80px;
  .sort {
    width: 85%;
    text-align: right;
    select {
      border: none;
      &:focus {
        outline: none;
      }
    }
  }
}
