.rankContainer {
  display: flex;
  justify-content: center;
  article {
    h1 {
      font-size: 2rem;
      font-weight: 600;
      color: #000;
      padding-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
}
