@import "../../variables";

.box {
  @include center;
  flex-direction: column;
  margin-top: 2rem;
  .header {
    color: #fff;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  .time {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 200;
    margin-bottom: 1.2rem;
  }
  .selectBox {
    select {
      &:nth-child(2) {
        margin-left: 0.8rem;
      }
    }
    button {
      margin-left: 0.8rem;
    }
  }
  article {
    .like {
      width: 2rem;
      height: 2rem;
      margin-top: 0.5rem;
      margin-left: 37rem;
      i {
        font-size: 2rem;
        cursor: pointer;
      }
    }
    .station {
      color: #000;
      font-size: 2rem;
      margin-top: 0.5rem;
      font-weight: 600;
      margin-bottom: 1.5rem;
    }

    h4 {
      color: #9dadb6;
      font-size: 1.2rem;
      margin-bottom: 0.8rem;
    }
    .expression {
      margin-top: 2rem;
      margin-bottom: 2.5rem;
      i {
        font-size: 16rem;
      }
    }
    h5 {
      color: #666666;
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
    }
  }
}

@keyframes active {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
