@import "../../variables";
.item {
  @include center;
  width: 10rem;
  height: 4rem;
  margin: 0 0.5rem;
  cursor: pointer;
  background-color: $color-select;
  border-radius: 10px;
  margin-bottom: 1rem;
  i {
    text-align: center;
    font-size: 1rem;
    margin-right: 0.6rem;
  }
}
