$color-main: #30a9de;
$color-sub: #80d4f6;
$color-sub2: #008c9e;
$color-select: #00dffc;
$dust-good: #1e64ee;
$dust-moderate: #00d500;
$dust-bad: #f95a20;
$dust-super-bad: #e73532;
$dust-null: #666666;

@mixin center($direction: center, $alignment: center) {
  display: flex;
  justify-content: $direction;
  align-items: $alignment;
}
