$color-main: #a0e4cb;
$color-sub: #59c1bd;
$color-sub2: #0d4c92;
$color-select: #cff5e7;
$dust-good: #1e64ee;
$dust-moderate: #00d500;
$dust-bad: #f95a20;
$dust-super-bad: #e73532;
$dust-null: #666666;
