/* reset.css */
@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css");

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

body {
  margin: 0;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: black;
  text-decoration: none;
}

@media (max-width: 575.98px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 14px;
  }
}
